@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --offBlack: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--offBlack);
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkGrey);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

main img{
    border-radius: 50%;
    width: 100px;
}

main div#info{
    margin: 20px 0 30px 0;
}

main div#info h1{
    color: var(--white);
    font-size: 25px;
}

main div#info h3{
    color: var(--green);
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
}

main div#info p{
    color: var(--white);
    margin-top: 25px;
    font-size: 14px;
}

main nav{
    display: flex;
    flex-direction: column;
}

main nav button{
    background-color: var(--grey);
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--grey);
    cursor: pointer;
    width: 300px;
    transition: .3s;
}

main nav button:hover{
    background-color: var(--green);
}

main nav button:hover a{
    color: var(--grey);
}

main nav button a{
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-height: 730px){
    main{
        position: fixed;
        top: 30px;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 420px){
    main{
        padding: 40px 20px;
    }
}